<p id="notice"><%= notice %></p>

<h1>Thread Objects</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @thread_objects.each do |thread_object| %>
      <tr>
        <td><%= thread_object.id %></td>
        <td><%= thread_object.value %></td>
        <td><%= link_to 'Show', thread_object %></td>
        <td><%= link_to 'Edit', edit_thread_object_path(thread_object) %></td>
        <td><%= link_to 'Destroy', thread_object, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Thread Object', new_thread_object_path %>
